#button_start {
    font-weight:'bold';
    font-size:50;
    font-family:'Open sans';
    padding-left:64;
    padding-right:64;
    padding-top:8;
    padding-bottom:8;
    background-color:'#0f6cbd';
    color:'#fff';
    border:'none';
    border-radius:16;
    transition:'all 0.25s ease-out';
}

#button_start:hover {
    background-color:'#6ad4dd';
    cursor:'pointer';

    transition:'all 0.25s ease-out';
}